body, html {
    height: 100%;
}

#favorite, #heart {
    color: red;
    cursor: pointer;
}
.reviewer_photo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.w-100 {
    max-height: 1000px;
    object-fit: cover;
}

.cafe_photo {
    width: 500px;
    height: 400px;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

#map {
    height: 100vh;
}

#cafe_map {
    height: 50vh;
}

.bi-star-fill, .bi-star-half {
    color: #FFC300;
}

.reviewer {
    display: inline-block;
}

th { 
    text-align: center;
}

table, tr, td {
    border: 1px solid black;
    padding: 5px;
}

.hours-open {
    color: green;
    font-weight: bold;
}

.hours-closed, .flash-msg, .error {
    color: red;
    font-weight: bold;
}

.background {
    background-size: cover;
    height: 100%;
    width: 100%;
}

.chart rect:first-of-type {
    color: #fff;
    stroke: #3994b6;
    fill: white;
  }
  
  text:first-of-type {
    fill: #3994b6;
    font-family: sans-serif;
    font-size: 12px;
  }
  
  .chart rect:nth-of-type(2) {
    color: #fff;
    stroke: transparent;
    fill: #3994b6;
  }
  
  text:nth-of-type(2) {
    fill: #a8d4e4;
    font-family: sans-serif;
    font-size: 12px;
  }

  .edit-form {
      display: none;
      padding-top: 10px;
  }

  span.stars, span.stars span {
    display: block;
    background: url(/static/img/svgs/star.svg) 0 0 repeat-x;
    width: 80px;
    height: 16px;
    background-size: 16px 16px;
  }
  
  span.stars span {
    background-position: 0 0;
    background-image: url(/static/img/svgs/star-fill.svg);
  }

  /* .form {
      background: rgba(76, 175, 80, 0.3);
      border-radius: 25px;
      padding: 20px; 
      height: 150px; 
  } */