body, html {
    height: 100%;
}

#favorite, #heart {
    color: red;
    cursor: pointer;
}
.reviewer_photo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.w-100 {
    max-height: 1000px;
    object-fit: cover;
}

.cafe_photo {
    width: 500px;
    height: 400px;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

.flash-msg {
    color: red;
    font-weight: bold;
}

#map {
    height: 100vh;
}

.bi-star-fill, .bi-star-half {
    color: #FFC300;
}

.reviewer {
    display: inline-block;
}

th { 
    text-align: center;
}

table, tr, td {
    border: 1px solid black;
    padding: 5px;
}

.hours-open {
    color: green;
    font-weight: bold;
}

.hours-closed {
    color: red;
    font-weight: bold;
}

.background {
    background-size: cover;
    height: 100%;
    width: 100%;
}
