body, html {
    height: 100%;
}

#favorite, #heart {
    color: red;
    cursor: pointer;
}
.reviewer_photo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.w-100 {
    max-height: 1000px;
    object-fit: cover;
}

.cafe_photo {
    width: 500px;
    height: 400px;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

.flash-msg {
    color: red;
    font-weight: bold;
}

#map {
    height: 100vh;
}

#cafe_map {
    height: 50vh;
}

.bi-star-fill, .bi-star-half {
    color: #FFC300;
}

.reviewer {
    display: inline-block;
}

th { 
    text-align: center;
}

table, tr, td {
    border: 1px solid black;
    padding: 5px;
}

.hours-open {
    color: green;
    font-weight: bold;
}

.hours-closed {
    color: red;
    font-weight: bold;
}

.background {
    background-size: cover;
    height: 100%;
    width: 100%;
}

.chart rect:first-of-type {
    color: #fff;
    stroke: #3994b6;
    fill: white;
  }
  
  text:first-of-type {
    fill: #3994b6;
    font-family: sans-serif;
    font-size: 12px;
  }
  
  .chart rect:nth-of-type(2) {
    color: #fff;
    stroke: transparent;
    fill: #3994b6;
  }
  
  text:nth-of-type(2) {
    fill: #a8d4e4;
    font-family: sans-serif;
    font-size: 12px;
  }

  .edit-form {
      display: none;
  }

  .edit-form {
      padding-top: 10px;
  }