{% extends 'base.html' %}

{% block title %} Cafetastic {% endblock %}

{% block content %}
    <!-- Background image -->
    <div class="background">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-6">
            <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
              <div class="transparent-box">
              <a href="/"><img src="static/img/svgs/logo.svg" class="logo"></a>
              <a href="/"><h1 class="app-name text-center">Cafetastic</h1></a>
            <!-- Display search feature if user is logged in -->
            {% if login %}
              <!-- Cafe search form -->
              <div name="search" id="search">
                  <form id="querying" action="/cafes" method="POST">
                    <hr>
                  <h2 class="pt-2 justify-content-center text-center">Find a cafe</h2>
                  <!-- Flash messages -->
                  {% for msg in get_flashed_messages() %}
                    <p class="flash-msg">
                    {{ msg }}
                    </p>
                  {% endfor %}
                  <div class="mb-3">
                      <label for="zipcode" class="form-label">Zip Code</label>
                      <input type="text" class="form-control" id="zipcode" aria-describedby="Email" name=
                      "zipcode">
                      <label for="radius" class="form-label">Radius</label>
                      <select name="radius" class="form-select" aria-label="Radius">
                      <option value="8046" selected>5 mi</option>
                      <option value="16093">10 mi</option>
                      <option value="24140">15 mi</option>
                      <option value="32186">20 mi</option>
                      <option value="40000">25 mi</option>
                      </select>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
              </div>
              <!-- End cafe search form -->

            <!-- Display login form if user is not logged in -->
            {% else %}
              <!-- Login form -->
              <div name="login" id="login">
                <hr>
                <h2 class="pt-2 justify-content-center text-center">Login</h2>
                <!-- Flash messages -->
                {% for msg in get_flashed_messages() %}
                  <p class="flash-msg">
                  {{ msg }}
                  </p>
                {% endfor %}
                <!-- End flash messages -->
                <form action="/login" method="POST">
                    <div class="mb-3">
                      <label for="login-email" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="login-email" aria-describedby="emailHelp" name=
                      "login-email">
                    </div>
                    <div class="mb-3">
                      <label for="login-password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="login-password" name="login-password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                  <!-- Button to display registration form -->
                  <a href="#" id="create-account" class="p-2 d-flex justify-content-center text-center bold-link">Create an account</a>
                </div>
                <!-- End login form -->
            {% endif %}
          </div>
          </div>
            </div>
            </div>
        </div>
    </div>
    <!-- End background image -->
{% endblock %}

{% block scripts %} 
<!-- Prevent page scrolling -->
<script src="/static/js/scroll.js"></script>
  <!-- Select random background to display -->
  <script src="/static/js/background.js"></script>
  <!-- Switch between login form and registration form on link click-->
  <script src="/static/js/homepage.js"></script>
{% endblock %}