{% extends 'base.html' %}

{% block title %} Project Title {% endblock %}

{% block content %} 
<h1>Create an account</h1>
<form action="/register" method="POST">
    <div class="mb-3">
      <label for="register-email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="register-email" aria-describedby="emailHelp" name=
      "register-email">
    </div>
    <div class="mb-3">
      <label for="register-password" class="form-label">Password</label>
      <input type="password" class="form-control" id="register-password" name=
      "register-password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

<h1>Login</h1>
<form action="/login" method="POST">
    <div class="mb-3">
      <label for="login-email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="login-email" aria-describedby="emailHelp" name=
      "login-email">
    </div>
    <div class="mb-3">
      <label for="login-password" class="form-label">Password</label>
      <input type="password" class="form-control" id="login-password" name="login-password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% endblock %}